.buttonAnalyse {
  position: fixed;
  bottom: 32px;
  right: 20px;

  height: 30px;
  width: 70px;
  background-color: #1d9bf0;

  opacity: 1;
  border-radius: 20px;
  border: solid 0.5px #fff;
  font-weight: bold;

  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .buttonAnalyse {
    bottom: 20px;
    right: 40px;
    height: 40px;
    width: 90px;
    border-radius: 30px;

    font-size: 14px;
  }
}
