.App {
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

.containerApp {
  position: relative;
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  .containerApp {
    max-width: 700px;
    margin: 0 auto;
  }
}
